# Ignore macOS system files
.DS_Store
1A_simple-jobs_UI_and_CLI/data/

# Ignore CSV files in all subdirectories
**/*.csv
6A_create_custom_python_packages/dist/*.whl
6A_create_custom_python_packages/dist/*.gz
